<div class="enlaces-registro">
  <div id="iconos">
    <% if(usuario.avatar && usuario.avatar != "") { %>
    <a href="/admin/perfil">
      <img class="admin-avatar" src="/avatars/<%=usuario.avatar%>" alt=""
    /></a>
    <%} else{%>
    <a href="/admin/perfil"><span class="icon-user"></span></a>
    <%}%>
  </div>
  <div id="enlaces">
    <a href="/admin/perfil"><%= usuario.pseudonimo %></a> |
    <a href="/procesar-cerrar-sesion">Cerrar Sesion</a>
  </div>
</div>
<a href="/" class="logo">Blog de Viajes</a>
<a href="/admin/index" class="button"><span class="icon-credit"></span>Admin</a>
