<div class="enlaces-registro">
  <div id="iconos">
    <% if(usuario.avatar && usuario.avatar != "") { %>
    <a href="/admin/perfil">
      <img class="admin-avatar" src="/avatars/<%=usuario.avatar%>" alt=""
    /></a>
    <%} else{%>
    <a href="/admin/perfil" class="default-avatar"><span class="icon-user"></span></a>
    <%}%>
  </div>
  <div id="enlaces">
    <a href="/admin/perfil"><span class="item-label"><%=usuario.pseudonimo%></span></a> |
    <a href="/procesar-cerrar-sesion">Cerrar Sesion</a>
  </div>
</div>
<a href="/" class="logo">Blog de Viajes</a>
<a href="/" class="sections"><span class="icon-home"></span><span class="item-label"> Inicio</span></a>
<a href="/admin/index" class="sections"><span class="icon-credit"></span><span class="item-label"> Admin</span></a>
